In [4]:
import pandas as pd
df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', sep=',', encoding='latin-1')

In [5]:
df.head(10)

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28
5          4  Algeria       2903  ...   2941.00   2921.00   2932.00
6          4  Algeria       2903  ...     67.37     66.11     67.10
7          4  Algeria       2903  ...     52.04     55.59     54.57
8          4  Algeria       2941  ...    431.00    421.00    390.00
9          4  Algeria       2941  ...     27.35     26.71     24.73

[10 rows x 12 columns]

In [8]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ["Age","Nationality","Overall"]

In [15]:
pd.DataFrame(lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [16]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [23]:
array[:1,1:]

TypeError: ignored

In [27]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [30]:
x=y[1][1]

In [31]:
x

8

In [65]:

total_sum = df.groupby('Element')['Element','Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [66]:
total_sum

                                            Y2018
Element
Domestic supply quantity                939659.26
Export Quantity                          43125.07
Fat supply quantity (g/capita/day)        5064.71
Feed                                     87251.52
Food                                    582666.69
Food supply (kcal/capita/day)           232410.00
Food supply quantity (kg/capita/yr)      25042.27
Import Quantity                         166699.19
Losses                                   80824.00
Other uses (non-food)                    42258.02
Processing                              132223.00
Production                              822855.82
Protein supply quantity (g/capita/day)    5928.28
Residuals                                  786.00
Seed                                     13602.00
Stock Variation                           6892.34
Total Population - Both sexes           499262.00
Tourist consumption                         47.00

In [45]:
2014=153402.41
2015=154781.97
2016 =  158666.39
2017=167501.19
2018=166699.19

Item Code      -0.027341
Area Code      -0.004613
Y2014           0.024724
Y2016           0.024768
Y2015           0.024858
Y2017           0.025029
Y2018           0.025204
Element Code    1.000000
Name: Element Code, dtype: float64